body {
    font-family: Manrope;
    background-color: rgb(191, 250, 202);
}

#testing {
    margin: 100px auto auto auto;
    background-color: rgb(139, 199, 127);
    max-width: 900px;
    border-radius: 40px;
    padding: 50px;
}

h1 {
    font-size: 60px;
    color: rgb(5, 16, 42);
    text-align: center;
    font-weight: 500;
}


#startTest {
    background-color: rgb(76, 172, 98);
    cursor: pointer;
    font-size: 30px;
    padding: 20px 30px;
    border: none;
    border-radius: 30px;
    display: block;
    margin-inline: auto;
}


#numberQuestion {
    display: none;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
}

#answerOptions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.answer-input {
    font-size: 30px;
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
}

.answer-button {
    background-color: rgb(228, 245, 143);
    border-radius: 20px;
    border: none;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 30px;
    padding: 10px 30px;
    cursor: pointer;
}

.correct-answer {
    background-color: rgb(76, 190, 81);
    font-weight: 500;
    color: rgb(2, 2, 2);
}

.inscription-correct-answer {
    margin-top: 20px;
    text-align: center;
    color: rgb(2, 2, 2);
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}

.wrong-answer {
    background-color: rgb(213, 37, 24);
    color: rgb(2, 2, 2);
    font-weight: 500;
}

.submit-button {
    background-color: rgb(228, 245, 143);
    border-radius: 20px;
    border: none;
    font-size: 30px;
    padding: 10px 30px;
    cursor: pointer;
    margin-left: 20px;
}

.question-text {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

#nextQuestion {
    display: none;
}

.next-button {
    display: none;
    background-color: rgb(228, 245, 143);
    border: none;
    border-radius: 15px;
    margin-inline: auto;
    font-size: 25px;
    font-weight: 600;
    padding: 10px 20px;
}

.result {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-top: 250px;
    display: block;
}

.restart-button {
    display: block;
    background-color: rgb(139, 199, 127);
    border: none;
    border-radius: 15px;
    margin-inline: auto;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
    padding: 15px 25px;
}

